<!--  angular app -->
<div ng-app="sessionApp" ng-controller="sessionController">

    <h1>Login</h1>

    <form ng-submit="createSession">
        <div class="form-group">

            <div ng-show="formError" class="text-danger">{{formErrorMessage}}</div>

            <div>
                <label for="email">Email:</label>
                <input type="text" id="email" class="form-control" ng-model="email"/>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" class="form-control" ng-model="password"  />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </div>
    </form>
</div>
