<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>

    <!--  bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- css flags on a CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.3.0/css/flag-icon.min.css">

    <!-- chart library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"
        integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>

    <!-- angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>

    <!-- custom logic to submit forms without normal httppost -->
    <!-- TODO this should be served from our application, but instead of enhancing the routing I'll hardcode for now -->
    <script>

        var sessionApp = angular.module('sessionApp', []);
        sessionApp.controller('sessionController', function ($scope, $http) {

            $scope.sessionToken = localStorage.getItem('token');
            $scope.loggedIn = false;
            
            $scope.formError = false;
            $scope.formErrorMessage = '';


            $scope.logOut = () => {
                var tokenId = typeof($scope.sessionToken.id) == 'string' ? $scope.sessionToken.id : false;

                let headers = new HttpHeaders();
                headers = headers.set('Content-Type', 'application/json; charset=utf-8');
                let options = new RequestOptions({headers: headers});
                
                $http.delete('/api/tokens?id='+tokenId, options)
                    .then(() => {
                        $scope.sessionToken = false;
                        $scope.loggedIn = false;
                        window.location = '/';
                    });
                   
            };

            $scope.createAccount = () => {
                let headers = new HttpHeaders();
                headers = headers.set('Content-Type', 'application/json; charset=utf-8');
                let options = new RequestOptions({
                    headers: headers
                });
                var body = {
                    'email' : $scope.email,
                    'password' : requestPayload.password
                };
                $http.post('/api/tokens', body, options)
                    .subscribe(
                        data => {
                            localStorage.setItem('token',data);
                            window.location = '/';
                        },
                        error => {
                            $scope.formError = true;
                            $scope.formErrorMessage = error;
                        }
                    );
            }

            $scope.renewToken = (callback) => {
                var currentToken = typeof($scope.sessionToken) == 'object' ? $scope.sessionToken : false;
                if(currentToken){
                    let headers = new HttpHeaders();
                    headers = headers.set('Content-Type', 'application/json; charset=utf-8');
                    let options = new RequestOptions({headers: headers});
                    var body = {
                        'id' : currentToken.id,
                        'extend' : true,
                    };
                    $http.put('/api/tokens',body,options)
                        .subscribe(
                            data => {
                                // Get the new token details
                                $http.get('/api/tokens?id='+currentToken.id)
                                    .subscribe(
                                        data => {
                                            localStorage.setItem('token',newResponsePayload);
                                            callback(false);
                                        },
                                        error => {
                                            localStorage.setItem('token',false);
                                            callback(true);
                                        }
                                    );
                            },
                            error => {
                                localStorage.setItem('token',false);
                                callback(true);
                            }
                        );
                } else {
                    localStorage.setItem('token',false);
                    callback(true);
                }
            };

            $scope.tokenRenewalLoop = () => {
                setInterval(() => {
                    $scope.renewToken((err) => {
                        if(!err){
                            console.log("Token renewed successfully @ "+Date.now());
                        }
                    });
                },1000 * 60);
            };

            $scope.tokenRenewalLoop();

        });
    </script>
</head>

<body>
  
    <div class="header">
        <div class="row" >
            <div class="col-lg-6"> <a href="/">Currency App</a></div>

            <div class="col-lg-3" ng-if="loggedIn == false"><a href="/account/create">Signup</a></div>
            <div class="col-lg-3" ng-if="loggedIn == false"><a href="/session/create">Login</a></div>
            <div class="col-lg-3" ng-if="loggedIn"><a href="/account/edit">Account</a></div>
            <div class="col-lg-3" ng-if="loggedIn" ><a href="#"  (click)="logOut()" >Logout</a></div>
        </div>
    </div>
    <div class="container" >
       {body}
    </div>
 

    <footer stlye="text-align: center;">&copy; <span id="year"></span> Not Really | No Rights Reserved</footer>
    <script>document.getElementById("year").innerHTML = new Date().getFullYear();</script>
</body> 

</html>